html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rounded {
  border-radius: 9999px;
}

/*　参考 https://blog.raizzenet.com/mouse-hover-caption-effects-in-css/#i-sample1 　にして、hover時の挙動を実装　*/

.sample1 {
  height: 200px;
  overflow: hidden;
  position: relative; /* 相対位置指定 */
}
.sample1 .caption {
  font-size: 130%;
  text-align: center;
  padding-top: 85px;
  color: #fff;
}

.sample1 .mask {
  width: 100%;
  height: 100%;
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sample1:hover .mask {
  opacity: 1; /* マスクを表示する */
}

.sample2 {
  height: 150px;
  overflow: hidden;
  position: relative; /* 相対位置指定 */
}
.sample2 .caption {
  font-size: 130%;
  text-align: center;
  padding-top: 61px;
  color: #fff;
}

.sample2 .mask {
  width: 100%;
  height: 100%;
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sample2:hover .mask {
  opacity: 1; /* マスクを表示する */
}

.sample3 {
  height: 124px;
  overflow: hidden;
  position: relative; /* 相対位置指定 */
}
.sample3 .caption {
  font-size: 130%;
  text-align: center;
  padding-top: 50px;
  color: #fff;
}

.sample3 .mask {
  width: 100%;
  height: 100%;
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sample3:hover .mask {
  opacity: 1; /* マスクを表示する */
}
